<H1>Data Understanding

There are 194,673 observations and 38 variables in this data set. Since we would like to identify the factors that cause the accident and the level of severity, we will use SEVERITYCODE as our dependent variable Y, and try different combinations of independent variables X to get the result. Since the observations are quite large, we may need to filter out the missing value and delete the unrelated columns first. Then we can select the factor which may have more impact on the accidents, such as address type, weather, road condition, and light condition.

The target Data to be predicted under (SEVERITYCODE 1-prop damage 2-injury) label.

Other important variables include:
<li> ADDRTYPE: Collision address type: Alley, Block, Intersection
<li>LOCATION: Description of the general location of the collision
<li> PERSONCOUNT: The total number of people involved in the collision helps identify severity involved
<li> PEDCOUNT: The number of pedestrians involved in the collision helps identify severity involved
<li> PEDCYLCOUNT: The number of bicycles involved in the collision helps identify severity involved
<li> VEHCOUNT: The number of vehicles involved in the collision identify severity involved
<li> JUNCTIONTYPE: Category of junction at which collision took place helps identify where most collisions occur
<li> WEATHER: A description of the weather conditions during the time of the collision
<li> ROADCOND: The condition of the road during the collision
<li> LIGHTCOND: The light conditions during the collision
<li> SPEEDING: Whether or not speeding was a factor in the collision (Y/N)
<li> SEGLANEKEY: A key for the lane segment in which the collision occurred
<li> CROSSWALKKEY: A key for the crosswalk at which the collision occurred
<li> HITPARKEDCAR: Whether or not the collision involved hitting a parked car

In [10]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Navya\Desktop\Data Science Certificates\Data-Collisions.csv')
print(len(df.columns))
print(len(df.index))

C:\Users\Navya\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

38
194673

In [8]:
df=df[['SEVERITYCODE','ROADCOND','WEATHER','LIGHTCOND','ADDRTYPE','VEHCOUNT','PERSONCOUNT','SPEEDING']]
df.describe()

        SEVERITYCODE       VEHCOUNT    PERSONCOUNT
count  194673.000000  194673.000000  194673.000000
mean        1.298901       1.920780       2.444427
std         0.457778       0.631047       1.345929
min         1.000000       0.000000       0.000000
25%         1.000000       2.000000       2.000000
50%         1.000000       2.000000       2.000000
75%         2.000000       2.000000       3.000000
max         2.000000      12.000000      81.000000

In [5]:
df.head()

,SEVERITYCODE,ROADCOND,WEATHER,LIGHTCOND,ADDRTYPE,VEHCOUNT,PERSONCOUNT,SPEEDING
0,2,Wet,Overcast,Daylight,Intersection,2,2,NaN
1,1,Wet,Raining,Dark - Street Lights On,Block,2,2,NaN
2,1,Dry,Overcast,Daylight,Block,3,4,NaN
3,1,Dry,Clear,Daylight,Block,3,3,NaN
4,2,Wet,Raining,Daylight,Intersection,2,2,NaN