<H1>Data Understanding

This is an extensive data set from the Seattle Police Department, with over 190,000 observations collected over the last 15+ years. To accurately build a model to prevent future accidents and/or reduce their severity, we will use the following attributes â€” ADDRTYPE, WEATHER, ROADCOND, VEHCOUNT, PERSONCOUNT.

In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Navya\Desktop\Data Science Certificates\Data-Collisions.csv')
df=df[['SEVERITYCODE','ROADCOND','WEATHER','LIGHTCOND','ADDRTYPE','VEHCOUNT','PERSONCOUNT','SPEEDING']]
df.head()

C:\Users\Navya\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,ROADCOND,WEATHER,LIGHTCOND,ADDRTYPE,VEHCOUNT,PERSONCOUNT,SPEEDING
0,2,Wet,Overcast,Daylight,Intersection,2,2,NaN
1,1,Wet,Raining,Dark - Street Lights On,Block,2,2,NaN
2,1,Dry,Overcast,Daylight,Block,3,4,NaN
3,1,Dry,Clear,Daylight,Block,3,3,NaN
4,2,Wet,Raining,Daylight,Intersection,2,2,NaN

In [4]:
df.drop('SPEEDING',axis=1, inplace=True)

In [5]:
df.head()

,SEVERITYCODE,ROADCOND,WEATHER,LIGHTCOND,ADDRTYPE,VEHCOUNT,PERSONCOUNT
0,2,Wet,Overcast,Daylight,Intersection,2,2
1,1,Wet,Raining,Dark - Street Lights On,Block,2,2
2,1,Dry,Overcast,Daylight,Block,3,4
3,1,Dry,Clear,Daylight,Block,3,3
4,2,Wet,Raining,Daylight,Intersection,2,2